.section-four {
  background-image: linear-gradient(
    to right,
    rgb(241, 236, 242),
    rgb(234, 241, 245)
  );
  height: 700px;
  padding: 0 140px;
}

.earn-container {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.upper-earn-container {
  display: flex;
  flex-direction: row;
}

.left-earn {
  flex: 1;
}

.right-earn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.upper-earn-title {
  font-size: 40px !important;
  font-weight: 600 !important;
  line-height: 1.1;
  margin-bottom: 24px;
}

.earn-purple {
  color: rgb(118, 69, 217);
}

.uper-earn-description {
  color: rgb(122, 110, 170);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 16px;
}

.upper-earn-btns {
  display: flex;
  flex-direction: row;
}

.earn-left-btn {
  background: rgb(31, 199, 212);
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  padding: 0 24px;
  height: 48px;
  border: none;
  /* margin-right: 10px; */
}

.earn-right-btn {
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  padding: 0 15px;
  height: 48px;
  border: none;
}

.earn-image {
  height: 420px;
  margin-top: -100px;
}

.lower-earn-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.earn-lower-one {
  margin-bottom: 24px;
  color: rgb(40, 13, 95);
  font-size: 20px;
  font-weight: 600;
}

.updown {
  height: 21px;
}

.top-text {
  color: rgb(118, 69, 217);
}

.earn-lower-two {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lower-eran-first {
  color: rgb(118, 69, 217);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
  font-size: 12px;
}

.apr-precntage {
  color: rgb(40, 13, 95);
  font-weight: 600;
  line-height: 1.1;
  font-size: 16px;
}

.apr-text {
  color: rgb(122, 110, 170);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.lower-two-container {
  width: 175px;
}

.earn-border-right {
  border-left: 1px solid rgb(122, 110, 170);
  padding-left: 16px;
}

.s-four-wrapper {
  position: relative;
}

.custom-shape-divider-top-1652714844 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1652714844 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 47px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1652714844 .shape-fill {
  fill: #ffffff;
}
