.footer {
  background: rgb(39, 38, 44);
  padding: 50px 30px;
  color: white;
}

.continer {
  border-bottom: 1px solid rgb(56, 50, 65);
  margin-bottom: 20px;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-logo-container {
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 5px;
  align-items: right;
  padding: 10px;
}

label.footer-logo {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.footer-col h4 {
  color: rgb(154, 106, 255);
  font-size: 16px;
  font-weight: 600;
}

.footer-col ul li a {
  color: rgb(232, 226, 242);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  text-decoration: none;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.social-img {
  width: 24px;
  margin-right: 8px;
  background: rgb(232, 226, 242);
}

.social-links {
  margin-bottom: 32px;
}

.footer-active {
  color: rgb(248, 173, 55);
}

.footer-hr {
  width: 100%;
}

.footer-row-lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lower-row-left {
}

.lower-rwo-right {
  /* position: absolute; */
  /* left: 75%; */
}

.lower-right-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  font-size: 15px;
  color: rgb(184, 173, 210);
  font-weight: 600;
}

.footer-blnc {
  display: inline-block;
}

.footer-logo {
  width: 24px;
  margin-right: 10px;
}

.footer-btn {
  height: 32px;
  padding: 0px 16px;
  background-color: rgb(31, 199, 212);
  color: white;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-items: center;
  display: inline-flex;
}

.right-arrow {
  margin-left: 8px;
}
.lower-right-logo-box {
  display: flex;
  place-items: center;
}

@media (max-width: 952px) {
}

@media (max-width: 700px) {
  .footer-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-row-lower {
    display: none;
  }

  .footer-logo-container {
    /* vertical-align: top; */
    display: none;
  }
}
